<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <div class="language">
          {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
          {% for page in pages %} 
            <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a> 
          {% endfor %}
          
          {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
          {% for post in posts %} 
            <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang }}</a> 
          {% endfor %}

          {% assign projects=site.projects | where:"ref", page.ref | sort: 'lang' %}
          {% for projects in projects %} 
            <a href="{{ projects.url | prepend: site.baseurl }}" class="{{ projects.lang }}">{{ projects.lang }}</a> 
          {% endfor %}

        </div>
        {% assign pages=site.pages | where:"lang", page.lang %}
          {% for menu in site.t[page.lang] %}
          <a class="page-link" href="{{ menu[1].url }}">{{ menu[1].name }}</a>
          {% endfor %}

      </div>

    </nav>

  </div>

</header>



